#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}
.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
},
#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}
form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}
#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

.cart_border{
	border: 2px solid;
	border-radius: 5px;
}
